body{
        padding: 0px;
        margin: 0px;
        outline: 0px;  
}

.nav-bar{
        display: grid;
        max-width: 100%;
        height: 80px;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 80px;
        border-bottom: 1px solid transparent;
        box-shadow: 0px 0px 5px 5px whitesmoke;
}

.logo a img{
        height: 80px;
        width: 118px;
        padding-left: 40px;
}
.button-search{
        padding: 0 24px;
        display: flex;
}
.button-box{
        border: 2px solid transparent;
        padding: 0 16px;
        margin-top: 16px;
        border-radius: 50px;
        height: 48px;
        box-shadow: 0px 0px 5px 5px  whitesmoke;
        align-items: center;
}
.button input{
        margin-left: 8px;
        border: none;
        margin-top: 20px;  
        color: #222222;
        width: 250px;
}
.search-icon i{
        background-color: #ff385c;
        color: white;
        font-size: 12px;
        transform: translate(10px,6px);
        padding: 10px;
        border-radius:50%;
        float: right;
        margin-top: 10px;
}

.search-icon{      
        width: 32px;
        height: 32px;
        position: relative;
        top: -7px;
        margin-left: 10px;
}

.host{
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: flex-end;
        padding-right: 40px;
}

.globe-icon i{
        color: black;
      
        padding: 10px;
        border-radius: 50%;
        font-size: 16px;
}

.globe-icon{
        background-color: white;
}

.become-host{
        color:#222222 ;
        font-size: 14px;
}

.profile{
        border: 1px solid grey;
        padding: 8px 5px 8px 12px;
        border-radius: 20px;
        font-size: 16px;
}
.header{
        padding: 0 80px;
}
.header h1{
        font: 26px;
        padding-left: 40px;
        color: #222222;
        font-family: font-family: 'Roboto', sans-serif;
        display:inline-block;
}

.description i{
        padding-left: 40px;
        color:red;
}
.description a{
        font-size: 14px;;
        color: rgb(113, 113, 113);
        font-weight: 600;
        text-decoration: underline;
}
#rating{
        font-size: 14px;
        font-weight: 600;
        color: #ff385c;
}

.image-gallery{
        padding: 24px 80px;
        width:content;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,150px);
}

.cell img{
        width: 100%;
        height: 100%;
        object-fit: cover;             
}

.first-image{
        grid-row: 1/span 2;
        grid-column: 1/span 2;  
        padding-right: 8px;
        padding-left: 40px; 
       
}
.second-image{
        padding: 0px 8px 8px 0px;
}

.third-image{
        padding-bottom: 8px;
        padding-right: 40px;
}
.fourth-image{
        padding-right: 8px;
}

.fifth-image{
        padding-right: 40px;
}

.first-image img{
        border-radius: 10px 0px 0px 10px ; 
}
.third-image img{
        border-radius: 0px 10px 0px 0px ; 
}
.fifth-image img{
        border-radius: 0px 0px 10px 0px;
}














